.Sobre{
    margin-top: 20px;
  }/* Make the image ful
  ly responsive */
 
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .h21{
    margin-left: 150px;
    font-family:'UniSans';   
    color: #413089;
  }

  .h22{
    margin-left: 150px;
    font-family:'UniSans';   
    color: #ffffff;
  }

  p{
    font-family:'Garamond';
    font-size: 20px;
    
  }

  .Topico{
   margin-top: 50px;
  /* background-image: url("papel.jpg"); */
  }

  .Topico2{
    margin-top: 50px;
    color: #ffffff;
    font-family:'Garamond';
  }
  
  @font-face {
    font-family: 'UniSans';
    src: url('Fontes/uni-sans-heavy-caps.otf') format('opentype');
  }
  @font-face {
    font-family: 'Garamond';
    src: url('Fontes/Garamond Regular.ttf') format('truetype');
  }

  .testbutton {
  font-family: 'UniSans';
  color: #ffffff !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #000000;
  box-shadow: 1px 1px 3px #894F9A;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #3866A3;
  background: #413089;
  background: linear-gradient(to top, #894F9A, #413089);
}
.testbutton:hover {
color: #ffffff !important;
background: #468CCF;
background: linear-gradient(to top, #413089, #894F9A);
}

.Contato{
background: linear-gradient(to top, #413089, #894F9A);
  margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;    
}

.mensagem{
  color: linear-gradient(to top, #413089, #894F9A);
}

.imgTriste{
  width: 300px;
  height: 350px;
}
@media only screen and (max-width: 600px) {

  .h21{
    margin-left: 160px;
    font-family:'UniSans';   
    color: #413089;
  }

  .h22{
    margin-left: 170px;
    
    font-family:'UniSans';   
    color: #ffffff;
  }

}
